@model IEnumerable<MiningProject.Models.History>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">List of trucks and their locations</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="locationList " class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Location.LocationName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Truck.TruckType)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Truck.PlateNumber)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TimeStamp)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Location.LocationName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Truck.TruckType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Truck.PlateNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TimeStamp)
                                        </td>
                                        <td>
                                            <!-- <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |-->
                                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Location.LocationName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Truck.TruckType)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Truck.PlateNumber)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TimeStamp)
                                        </th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <script>
        $(function () {
            $('#locationList').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>
</body>
